<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('nav') %>
    <div class="cont">
        <h1><%= title  %></h1>
        <% if (user) { %>
            <h2>Welcome <%= user.first_name %>!</h2>
        <% } %>

        <% if(!user) { %>
            <h2>Welcome Guest!</h2>
        <% } %>

        <div class="messages">
            <% messages.map(msg => { %>
                <div class="msg">
                    <div class="msg-top">
                        <p class="msg-tit"><%= msg.title %></p>
                        <% if (user && user.is_admin == true) { %>
                            <div class="del">
                                <form action="/delete/<%= msg.id %>" method="post">
                                    <button type="submit" class="del-btn">Delete</button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                    <p class="msg-text"><%= msg.body %></p>
                    <% if (user && user.is_member == true) { %>
                        <div class="msg-top">
                            <p class="msg-user"><%= msg.username %></p>
                            <p class="msg-date"><%= new Date(msg.created_at).toLocaleString('en-US', { month: 'numeric', day: 'numeric', year: 'numeric', hour: 'numeric', minute: '2-digit' }) %></p>
                        </div>
                    <% } %>

                </div>
            <% }) %>
        </div>
    </div>

    <% if (user) { %>
        <div class="add">
            <a href="/new-msg"><img src="/add.svg" alt="Create New Message"></a>
        </div>
    <% } %>

</body>
</html>